<h2 class="text-left" style="font-family: 'Noto Sans JP', sans-serif;">Client by id - {{clientById.id_client}}</h2>
<mat-card class="card">
  <img style="box-shadow: 0 0 10px rgba(0,0,0,0.5);" mat-card-image src="assets/clientdetails.png" alt="logo">
  <mat-card-header>
    <mat-card-title class="card-titles"></mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-body">
    <div class="calendars_arr"> <i class="fa fa-calendar" aria-hidden="true"></i>
      <p class="date"><mat-icon class="card-icon">person_pin</mat-icon>Name Client:
        <span style="font-family:Roboto;font-weight: 800!important;">{{clientById.name_client}}</span>
      </p>
    </div>
    <div class="type_train">
      <p><mat-icon class="card-icon">person_pin</mat-icon>Soname Client:
        <span style="font-family:Roboto;font-weight: 800!important;">{{clientById.soname_client}}</span></p>
    </div>

    <div class="cost">
      <p><mat-icon class="card-icon">contact_phone</mat-icon>Phone Client:
        <span style="font-family:Roboto;font-weight: 800!important;">{{clientById.phone_client}}</span>
      </p>
    </div>

    <div class="action_details">
      <button class="btns-table" mat-fab color="primary" (click)="editClient(clientById.id_client)" aria-label="Button for edit">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

  </mat-card-content>
</mat-card>


