<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <import resource="/WEB-INF/applicationContext.xml"/>

    <context:component-scan base-package="com.railwayticket"/>

    <bean id="train1" class="com.railwayticket.domain.Trains">
        <property name="name_train" value="Test"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"  ref="dataSource" />
     </bean>

    <bean id="clientservice" name="clientservice" class="com.railwayticket.service.ClientServiceApiImplementation">
        <constructor-arg ref="transactionManager"/>
    </bean>

    <bean id="trainsservice" name="trainsservice" class="com.railwayticket.service.TrainServiceApiApiImplementation">
        <constructor-arg ref="transactionManager"/>
    </bean>
</beans>