<h2 mat-dialog-title>Add new Train</h2>
<mat-dialog-content class="mat-typography">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="add_train_content">
      <form (ngSubmit)="saveTrain()" ngNativeValidate>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Name Train</mat-label>
            <input [(ngModel)]="train_save.name_train" name="name_train" minlength="5" maxlength="40" matInput placeholder="Name Train" required="required">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Departure station</mat-label>
            <mat-select [(ngModel)]="train_save.departureStation" name="departure_station" required="required">
              <mat-option value="BREST">Brest</mat-option>
              <mat-option value="MINSK">Minsk</mat-option>
              <mat-option value="MOGILEV">Mogilev</mat-option>
              <mat-option value="GRODNO">Grodno</mat-option>
              <mat-option value="VITEBSK">Vitebsk</mat-option>
              <mat-option value="GOMEL">Gomel</mat-option>
            </mat-select>
            <mat-hint align="end">Choose departure station</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Arrival station:</mat-label>
            <mat-select [(ngModel)]="train_save.arrivalStation" name="arrival_station" required="required">
              <mat-option value="BREST">Brest</mat-option>
              <mat-option value="MINSK">Minsk</mat-option>
              <mat-option value="MOGILEV">Mogilev</mat-option>
              <mat-option value="GRODNO">Grodno</mat-option>
              <mat-option value="VITEBSK">Vitebsk</mat-option>
              <mat-option value="GOMEL">Gomel</mat-option>
            </mat-select>
            <mat-hint align="end">Choose arrival station</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Type of train</mat-label>
            <mat-select [(ngModel)]="train_save.typeTrain" name="type_train" required="required">
              <mat-option value="BUSINESS">Business</mat-option>
              <mat-option value="ECONOM">Econom</mat-option>
              <mat-option value="COUPE">Coupe</mat-option>
              <mat-option value="RESERVED_SEAT">Reserved seat</mat-option>
            </mat-select>
            <mat-hint align="end">Choose type of train</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Date and time departure</mat-label>
            <input [(ngModel)]="train_save.date_time_departure" name="date_time_departure" matInput [matDatepicker]="dp" [formControl]="date" required="required">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Date and time arrival</mat-label>
            <input [(ngModel)]="train_save.date_time_arrival" name="date_time_arrival" matInput [matDatepicker]="dp2" [formControl]="date" required="required">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Total ticket</mat-label>
            <input [(ngModel)]="train_save.total_ticket" name="total_ticket" matInput type="number" min="1" max="800" placeholder="Total ticket" required="required"/>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
        <mat-form-field appearance="fill">
            <mat-label>Available ticket</mat-label>
            <input [(ngModel)]="train_save.available_ticket" name="available_ticket" type="number" min="1" max="800" matInput placeholder="Available ticket" required="required"/>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <mat-form-field appearance="fill">
            <mat-label>Price ticket</mat-label>
            <input [(ngModel)]="train_save.price_ticket" name="price_ticket" type="number" min="1" max="1000" matInput placeholder="Price ticket" required="required"/>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <button type="submit" mat-flat-button color="primary">Add</button>
      </form>
    </div>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
