<mat-drawer-container autosize style="height: 100%;">
  <mat-drawer #drawer class="sidenav" mode="side" style="background-color:rgba(0,0,0,0.8); height: 100%">
    <ul class="nav flex-column" style="color:white">
      <li class="nav-item" >
        <a routerLink="trainfind" class="navbar-brand"><img src="assets/logo.png" alt="logo" width="100" height="70"/></a>
      </li>
      <li class="nav-item">
        <a style="color:white;" class="nav-link" routerLink="trainfind"
        ><mat-icon style="position: relative;top: 6px;right: 3px">search</mat-icon>
          Find Train</a>
      </li>
      <li class="nav-item">
        <a style="color:white;" class="nav-link" routerLink="allTrain"
        ><mat-icon style="position: relative;top: 6px;right: 3px">list</mat-icon>List of train</a>
      </li>
      <li class="nav-item">
        <a style="color:white;" class="nav-link" routerLink="allClient">
          <mat-icon style="position: relative;top: 6px;right: 3px">list</mat-icon>List of clients</a>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content style="margin-left: 0">
    <div class="container" style="height: 100%;position: relative;z-index: 1;margin-top: 15px">
      <div class="example-sidenav-content" style="float: right;">
        <button type="button" mat-button (click)="drawer.toggle()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



