<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="modal_edit_txt">
      <div class="buy_ticket_content">
        <form (ngSubmit)="editClient()">
          <div class="title_buy_form">
            <p>Train number: <span id="Train_number">{{clientUpdate.id_train}}</span></p>
          </div>
          <div class="img-overlay"></div>
          <div class="buy_ticket_content_inner">
            <div class="form__group field">
              <input type="input" class="form__field" placeholder="Name" name="name_client" id="Name_client" minlength="3" [(ngModel)]="clientUpdate.name_client" maxlength="35" required="required" />
              <label for="Name_client" class="form__label">Name</label>
            </div>
            <div class="line-break"></div>
            <div class="form__group field">
              <input type="input" class="form__field" placeholder="Soname" name="soname_client" id='Soname_client' minlength="3" maxlength="35" [(ngModel)]="clientUpdate.soname_client" required="required" />
              <label for="Soname_client" class="form__label">Soname</label>
            </div>
            <div class="line-break"></div>
            <div class="form__group field">
              <input type="input" class="form__field" id="phone_client" placeholder="Phone number in format +373(33 or 29 or 44)" minlength="15" [(ngModel)]="clientUpdate.phone_client" name="phone_client" pattern="^[\+]?[(]?[3][7][5][)]?[-\s\.]?[(]?[0-9]{2}?[)][-\s\.]?[0-9]{4,8}$" required="required" />
              <label for="phone_client" class="form__label">+373(35 or 29 or 44)</label>
            </div>
            <div class="line-break"></div>
            <div class="default_btn transition">
              <button class="transition" type="submit">Edit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
