@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
.title_find_form{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  letter-spacing: 1.8px;
}
.dt_inp{
  max-width: 360px;
  width: 100%;
}
.find_train_content_inner{
  max-width: 550px;
  width: 550px;
  display: block;
  margin: 0 auto;
}
#form_panel{
  padding-top: 40px;
}

.find_train_content{
  display: block;
  margin: 0 auto;
}
